* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ibarra Real Nova", serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #284d59 0%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}
.header {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}
.form {
  padding: 20px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
.form-control i {
  position: absolute;
  top: 38px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form button {
  background-color: #284d59;
  border: 2px solid #284d59;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
/*Error and Success*/
.success input {
  border-color: green;
}
.error input {
  border-color: red;
}
.success i.fa-check-circle {
  color: green;
  visibility: visible;
}
.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}
.error small {
  visibility: visible;
  color: red;
}
